# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.jar
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.jar.md5
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.jar.sha1
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.jar.sha256
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.jar.sha512
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.pom
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.pom.md5
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.pom.sha1
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.pom.sha256
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/1.0.3/TrickXORTreat-1.0.3.pom.sha512
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/maven-metadata.xml
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/maven-metadata.xml.md5
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/maven-metadata.xml.sha1
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/maven-metadata.xml.sha256
mcmodsrepo/com/cartoonishvillain/trickxortreat/TrickXORTreat/maven-metadata.xml.sha512
